/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
.idea/
coverage/
.php_cs.cache
node_modules/
npm-debug.log
web/assets/
web/app/css/*.css
web/app.min.js
web/app.min.css
web/app.css
web/app.js
