{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1 class="page-header">
        Nowy nauczyciel
        <a class="btn btn-default" href="{{ path('nauczyciel') }}" role="button">powrót do listy</a>
    </h1>

    {{ form(form) }}
{% endblock %}
