{% extends "AppBundle::layout.html.twig" %}
{% if form is defined %}{% form_theme form 'bootstrap_3_layout.html.twig' %}{% endif %}

{% block body %}
    <h1 class="page-header">
        Sprawdź obecność klasy {{ class }}
        <a class="btn btn-default" href="{{ path('klasa') }}" role="button">powrót do listy</a>
    </h1>

    {% if form is defined %}{{ form(form) }}{% endif %}
{% endblock %}
